<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="form.value.id; else elseBlock">{{ originalTitle }}</span>
        <ng-template #elseBlock>Select a pet</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" (submit)="saved.emit(form.value)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Type"
          formControlName="type"
          type="text"
          name="type"
        />
        <mat-error *ngIf="form.get('type').hasError('required')"
          >Required Field</mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Description"
          formControlName="description"
          type="text"
          name="description"
        />
        <mat-error *ngIf="form.get('description').hasError('required')"
          >Required Field</mat-error
        >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-button
        color="primary"
      >
        {{ form.value.id ? 'Save' : 'Create' }}
      </button>
      <button type="button" mat-button (click)="cancelled.emit(form.value)">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
