<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Pets</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let pet of pets" (click)="selected.emit(pet)">
        <h3 mat-line class="pet">
          {{pet.type}}
        </h3>
        <p mat-line>
          {{pet.description}}
        </p>
        <button mat-icon-button (click)="deleted.emit(pet);$event.stopImmediatePropagation()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button (click)="$event.stopImmediatePropagation()" [routerLink]="pet.id">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
